
@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),
        url('fonts/MullerRegular.woff2') format('woff2'),
        url('fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'),
        url('fonts/MullerMedium.woff2') format('woff2'),
        url('fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),
        url('fonts/MullerBold.woff2') format('woff2'),
        url('fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
  

@font-face {
    font-family: 'Muller';
    src: local('Muller Light'), local('MullerLight'),
        url('fonts/MullerLight.woff2') format('woff2'),
        url('fonts/MullerLight.woff ') format('woff');
    font-weight: 300;
    font-style: normal;
}

:root {
    --black-color : rgba(51, 51, 51, 1); 
    --orange-color :  rgba(204, 153, 51, 1) ;
    --light-orange-color : rgba(240, 191, 95, 1);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--gray-color);
    font-family: 'Muller';
    font-weight: 300;
    font-size: 16px;
    line-height: 16px; 
}

ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: sans-serif;
    background-color: rgba(241, 241, 241, 1);
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    padding: 13px 20px;
    font-size: 16px;
    line-height: 1;
    color: var(--orange-color);
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--orange-color);
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: linear;
}

.btn:hover {
    background-color: var(--orange-color);
    color: white;
}

link {
    color: var(--light-orange-color);
}

/* Header */

.header { 
    margin-top: 30px;
    margin-bottom: 70px;
    height: 154px;
}

.header__upper {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 40px;
    width: 290px;
    height: 54px;
}

.header__phone-number {
    font-family: 'Muller';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px; 
    transition: color 150ms linear;         
}

.header__phone-number:hover {
    color: var(--orange-color);
}

.header__personal-account:hover .personal-account__link {
    color: var(--light-orange-color);
}

.header__personal-account:hover .personal-account__icon {
    fill: var(--light-orange-color);
}

.personal-account__icon {
    fill: var(--orange-color);
    display: inline-block;   
    transition: fill 150ms linear;
}

.personal-account__link {
    font-family: 'Muller';
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    margin-left: 1.5px; /* Удалил пробел перед px */
    color: var(--orange-color);
    transition: color 150ms linear;     
}


.header__navigation {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    min-height: 70px;
    width: 1170px;
    background-color: white;
    border-radius: 15px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    font-family: 'Muller';
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;  
    transition: color 150ms linear;
}

.nav__link:hover {
    color: var(--orange-color);
}

.nav__item:not(:last-child) {
    margin-right: 45px;
}

.header__buttons {
    display: flex;
}

.header__buttons-item:not(:last-child) {
    margin-right: 40px;
}

/* Special-Offers */
.section-offers { 
    margin-top: 70px; 
    margin-bottom: 70px; 
}

.section-title { 
    font-size: 40px; 
    line-height: 40px; 
    font-weight: 400; 
    margin: 0; 
    padding-left: 40px; 
    padding-bottom: 20px; 
    color: var(--black-color); 
}

.section-offers__cards { 
    display: flex; 
    height: 540px; 
    gap: 24px; 
    justify-content: space-between; 
}

.card-one { 
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('img/maldives.jpg') center no-repeat; 
    background-size: cover; 
}

.card_two { 
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('img/two-card.jpg') center no-repeat; 
    background-size: cover; 
}

.card-main { 
    background: url('img/three-card.png') center no-repeat; 
    background-size: cover; 
}

.offers-card__title { 
    margin: 0; 
    margin-bottom: 15px; 
    font-size: 40px; 
    line-height: 40px; 
    font-weight: 700; 
    color: white; 
}

.section-offers__cards_left { 
    display: flex; 
    flex-direction: column; 
    flex-basis: 573px; 
    gap: 24px; 
}

.offers-card { 
    max-height: 258px; 
    width: 573px;
    padding: 40px 108px 40px 45px; 
    flex: 1 1 50%; 
    border-radius: 15px; 
}

.section-offers__cards_rigth { 
    padding: 212px 229px 40px 45px; 
    flex-basis: 573px; 
    border-radius: 15px; 
}

.offers-card__description { 
    margin-bottom: 47px; 
    font-family: 'Muller'; 
    font-weight: 300; 
    font-size: 20px; 
    line-height: 20px; 
    color: white; 
    opacity: 80%; 
}

.special-offers__card-description-main { 
    margin-top: 15px; 
    margin-bottom: 47px; 
    font-family: 'Muller'; 
    font-weight: 300; 
    font-size: 30px; 
    line-height: 30px; 
    color: white; 
    opacity: 80%; 
}

.special-offers__cards__title-main { 
    margin: 0; 
    font-family: 'Muller'; 
    font-weight: 700; 
    font-size: 60px; 
    line-height: 60px; 
    color: white; 
}

.offers-card__more { 
    display: flex; 
    align-items: center; 
}

.offers-card__link {
    color: var(--light-orange-color);
}

.right-arrow { 
    margin-left: 6px; 
}


/* About */

.container__about-us {
    padding-right: 282px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.about-us__text {
    margin: 0;
    width: 888px;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

/* Services */

.section-services {
    margin-top: 70px;
    margin-bottom: 70px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.services__item {
    flex-basis: 573px;
    min-height: 330px;
    background-color: white;
    border-radius: 15px; 
}

.services__card {
    width: 573px;
    height: 330px;
}

.services-card__title {
    display: flex;
    align-items: center;
}

.services-card__link {
    font-family: 'Muller';
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: var(--orange-color);
    transition: color 150ms linear; 
}

.services-card__description {
    margin: 0;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px; 
    color: black;
}

.services-card__title:hover .services-card__link {
    color: var(--light-orange-color);
}

.services-card__title:hover .services__right-arrow {
    stroke: var(--light-orange-color); 
}

.services__right-arrow {
    stroke: var(--orange-color);
    transition: stroke 150ms linear;
} 

.services-card__image {
    width: 100%;
    min-height: 165px;
}

.services-card__image_one {
    background: url('img/card1.png') no-repeat transparent;
    background-size: contain 100%;
}

.services-card__image_two {
    background: url('img/card2.png') no-repeat transparent;
    background-size: contain 100%;
}

.services-card__image_three {
    background: url('img/card3.png') no-repeat transparent;
    background-size: contain 100%;
}

.services-card__image_four {
    background: url('img/card4.png') no-repeat transparent;
    background-size: contain 100%;
}

.services-card__filling {
    padding: 26px 126px 35px 45px;
}

/* Advantages */

.section-advantages {
    margin-bottom: 70px;
}

.section-advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}
 
.section-advantages__item {
    padding: 40px 42px 32px 45px;
    height: 276px;
    width: 276px;
    background-color: white;
    border-radius: 15px;
}

.img-bathtub {
    background-image: url('img/bathtub.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 66px;
}

.img-hanger {
    background-image: url('img/hanger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 67px;
    height: 66px;
}

.img-heating {
    background-image: url('img/heating.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 66px;
}

.img-hotel-key {
    background-image: url('img/hotel-key.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 66px;
    height: 66px;
}

.img-parking {
    background-image: url('img/parking.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 66px;
    height: 66px;
}

.img-reception {
    background-image: url('img/reception.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 66px;
}

.img-security-box {
    background-image: url('img/security-box.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 67px;
    height: 66px;
}

.img-swimming-pool {
    background-image: url('img/swimming-pool.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 66px;
}

.section-advantages__description {
    margin: 10px 0 0 0;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

/* Accomodation */

.section-accommodation {
    margin-bottom: 70px;
}

.accomodation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.accomodation__block {
    min-height: 440px;
    flex-basis: 374px;
    border-radius: 15px;
    background-color: white;
}

.accomodation-block__img {
    min-height: 217px;
    min-width: 374px;
}

.accomodation-block__filling {
    margin: 32px 45px 45px 45px;
}

.accomodation-block_higher {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodation-block__price {
    display: flex;
    align-items: flex-end;
}

.accomodation-block__price-of {
    margin: 0;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
}

.accomodation-block__price-title {
    margin: 0 4px 0 4px;
    font-family: 'Muller';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: black;
}

.accomodation-block__price-night {
    margin: 0;

    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: black ;
}

.accomodation-block__title {
    margin-bottom: 16px;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
}

.accomodation-block__description {
    margin-bottom: 20px;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
}

.accomodation__block_last {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 34px;
    padding-left: 53px;
    padding-right: 53px;
    background-image: url("img/card9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.accomodation__item-last__link {
    padding-right: 18px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-image: url("img/Rectangle-white.svg");
    background-position: right center;
    background-repeat: no-repeat;
}

.accomodation__item-last__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .accomodation__item-last__arrow {
    margin-left: 6px;
    background: url('/img/Rectangle-white.svg') center center no-repeat;
    fill: white;
    background-size: contain;
    background-color: transparent;
    width: 10px;
    height: 18px;
    position: relative;
    z-index: 0;
} */

/* Tour  */

.tour-section {
   margin-bottom: 70px;
}

.tour-container {
    padding: 45px;
    width: 1170px;
    height: 256px; 
    border-radius: 15px;
    background-color: rgba(233, 233, 233, 1);
}

.tour-form {
    padding: 32px 28px;
    width: 1080px;
    height: 106px;
    border-radius: 15px;
    background-color: white;
}

.form {
    display: flex;
}

.form__item {
    display: flex;
    flex-direction: column;
}

.form__item:not(:last-of-type) {
    margin-right: 41px;
}

.form__item label {
    padding-bottom: 15px;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: black;
}

.form__item select{
    width: 169px;
    border: 0;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: black;
}

.form__item input {
    width: 121px;
    border: 0;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: black;
}

.form__item input[type=number] {
    border-bottom: solid 1px rgba(233, 233, 233, 1);
}

.form__btn {
    margin-left: 51px;
    width: 108px;
    height: 42px;
    text-align: center;
}

/* Contacts */

.section-contacts {
    margin-bottom: 40px;
}

.section-contacts__block {
    padding: 45px;
    min-width: 1170px;
    min-height: 618px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
}

.section-contacts_left {
    width: 375px;
    height: 528px;
    display: flex;
    flex-direction: column;
}

.section-contacts__left-block {
    padding-bottom: 23px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid;
    border-color: rgba(233, 233, 233, 1);
}

.section-contacts__heading {
    margin: 0;
    font-family: 'Muller';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: black;
}

.section-contacts__description {
    margin: 0;
    flex-basis: 229px;
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: black;
}

.section-contacts__description_addition {
    margin: 0;
}

.section-contacts__btn {
    width: 213px;
    height: 70px;
    margin-top: 20px;
}

.section-contacts_right {
    min-width: 653px;
    min-height: 528px;
    background-image: url(img/contacts-foto.png) ;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-contacts__tel {
    color: var(--orange-color);
}

.section-contacts__email {
    color: var(--orange-color);
}

/* footer  */

.footer__container {
    min-height: 341px;
    min-width: 1170px;
    padding: 45px;
    margin-bottom: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-image: url('img/footer-logo.svg');
    background-repeat: no-repeat;
    background-position: 739px bottom;
    background-color: var(--black-color);
}

.footer__block1 {
    margin-right: 125px;
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column ;
    row-gap: 38px;
}
 
.footer__block2 {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__block3 {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: end;
}

.footer__description {
    font-family: 'Muller';
    font-weight: 400;
    font-size: 16px;
    line-height: 30.4px;
    font-style: normal;
    color: white;
}

.footer__link {
    /* margin-top: 40px; */
    color: var(--orange-color);
}

.footer__description_tel {
    display: flex;
    flex-direction: column;
}

.footer__description_mail {
    display: flex;
    flex-direction: column;
}

.color__link {
    color: var(--orange-color);
    transition: color 150ms linear;
}

.color__link:hover {
    color: var(--light-orange-color);
}

.footer__icon {
    width: 25px;
    height: 25px;
}

.icon__triipadvisor {
    background-image: url('img/tripadvisor-icon.svg');
}

.icon__ok {
    background-image: url('img/ok-icon.svg');
}

.icon__vk {
    background-image: url('img/vk-icon.svg');
}